# Oussama Zazouli - Contact & Config
VITE_CONTACT_EMAIL="oussamazazouli@gmail.com"
VITE_CONTACT_PHONE="+4536666512"
VITE_LINKEDIN_URL="https://linkedin.com/in/oussama-zazouli-ab9371104"
VITE_LOCATION="Aarhus, Denmark"
